/* Three columns side by side */
.column {
    float: left;
    /*max-width: 400px;*/
    /*max-height: 400px;*/
    margin-bottom: 100px;

    /*padding: 0 8px;*/
}

/* Display the columns below each other instead of side by side on small screens */
/*@media (max-width: 650px) {*/
    /*.column {*/
        /*width: 100%;*/
        /*display: block;*/
    /*}*/
/*}*/

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 20px;

}

/* Some left and right padding inside the container */
.container {
    /*padding: 0 16px;*/
}

/* Clear floats */
/*.container::after, .row::after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display: table;*/
/*}*/


.btn-contact{
    background-color: #2c3e50;
    color: white;
    border-radius: 2px !important;
    margin-bottom: 20px !important;
    margin-top: 20px;
}

.btn-contact:hover {
    color: #9d9d9d;

}


/*.img-contact{*/
    /*height: auto;*/
    /*width: auto;*/
/*}*/