/*.container{*/
    /*padding-bottom: 50px;*/
/*}*/

.bs-calltoaction{
    position: relative;
    width:auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}


.bs-calltoaction.bs-calltoaction-subjects{
    color: #2980B9;
    background-color: white;
    border-color: #2980B9;

}

.bs-calltoaction.bs-calltoaction-discussions{
    color: whitesmoke;
    background-color: #FF9751;
    border-color: transparent;
}

.discussionBox{
    color: whitesmoke;
    background-color: #e07c4e;
    border-radius: 5px;

}

.btn-discussion{
    background-color: #FF9751;
    border-color: white;
}

.bs-calltoaction.bs-calltoaction-work{
    color: #E74C3C;
    background-color: transparent;
    border-color: #E74C3C;
}

.bs-calltoaction.bs-calltoaction-statistics{
    background-color: transparent;
    border-color: #2CA550;
}

.activity-title{
    color: #2CA550;
}


.panel-body .col{
    margin-bottom: 15px;
}

.circle-file{
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    background-color: crimson;
    border-color: crimson;
    height: 100px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.circle-file p{
    padding-top: 20px;
    color:white;
    font-size: 40px;
}

.activity-1{
    background-color: #167F39;
    border-color: #167F39;
}

.activity-2{
    background-color: #45BF55;
    border-color: #45BF55;
}

.activity-3{
    background-color: #96ED89;
    border-color: #96ED89;
}


.favoriteWork{
    background-color: white;
    color:grey;
    border-color: #e5e5e5 !important;
    border: solid 5px;
    border-color: #E74C3C;
}


.checkbox_wrapper{
    position: relative;
    height: 25px;
    width:  25px;

}

input[type="checkbox"] {
    opacity:0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

input[type="checkbox"] + label{
    background:url('/images/likeOff.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    position: absolute;

}

input[type="checkbox"]:checked + label{
    background:url('../images/likeOn.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
}

.btnremovework{
    margin-top: 5px;
    border-color: transparent !important;
    background-color: transparent !important;
    color: white;

}


.btnremovework:hover{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
    color: #9d9d9d !important;
}

.btnremovework:active:hover{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
    color: red !important;
}

.btnremovework:focus{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
}

.btn-primary{
    display:inline-block !important;
    position:relative !important;
    background: whitesmoke !important;
    color: grey !important ;
    border-color: transparent !important;
    border-radius: 0px !important;
    border-bottom: solid 3px #15A6FF !important;
    cursor: pointer !important;
    z-index:0 !important;
}

.btn-primary:before{
    content: "" !important;
    color: white !important;
    position: absolute !important;
    z-index:-1 !important;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    background: #2980B9 !important;
    transform: scaleY(0) !important;
    transform-origin: 0 100% !important;
    transition: transform .3s ease-out !important;

}

.btn-primary:hover:before{
    transform: scaleY(1) !important;
    color: white !important;
}
.btn-primary:hover{
    color: white !important;
}

.center-column{
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
}

.work-heading{
    background-color: #666666 !important;
    color: white !important;
    border-radius: 0px !important;
}

.btn-show-more{
    background-color: #E74C3C;
    border-color: transparent;
    color: white;
}

.btn-show-more:hover{
    background-color: #EA2B2A;
    border-color: transparent;
    color: white;
}

.arrow-down{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-left: 10px;
    border-top: 20px solid #666666;
}