.container{
    padding-bottom: 50px;
}

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}



.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title{
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}



.bs-calltoaction.bs-calltoaction-subjects{
    color: whitesmoke;
    background-color: #15A6FF;
    border-color: transparent;
}

.bs-calltoaction.bs-calltoaction-discussions{
    color: whitesmoke;
    background-color: #FF9751;
    border-color: transparent;
}

.discussionBox{
    color: whitesmoke;
    background-color: #e07c4e;
    border-radius: 5px;

}

.btn-discussion{
    background-color: #FF9751;
    border-color: white;
}

.bs-calltoaction.bs-calltoaction-work{
    color: #fff;
    background-color: #BC8BE8;
    border-color: transparent;
}

.bs-calltoaction.bs-calltoaction-statistics{
    color: black;
    background-color: white;
    border-color: #444444;
}




.bs-calltoaction.bs-calltoaction-subjects .cta-button .btn,
.bs-calltoaction.bs-calltoaction-discussions .cta-button .btn,
.bs-calltoaction.bs-calltoaction-work .cta-button .btn,
.bs-calltoaction.bs-calltoaction-statistics .cta-button .btn{
    border-color:#fff;
}

.panel-body .col{
    margin-bottom: 15px;
}

.circle-file{
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    background-color: crimson;
    border-color: crimson;
    height: 100px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
}
.circle-file p{
    padding-top: 20px;
    color:white;
    font-size: 40px;
}


