


html, body {
    height: 100%;
    background-image: url("/images/campus b&w.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666666;
}

.panel{
    box-shadow: 15px 15px 10px grey;
}



.navbar-inverse{
	background-color: #666666;
	border-radius: 0px;
    margin-bottom: 100px;
	}

.navbar{
    border-bottom-color: #666666;
    border-color: #666666;
}
.lema{
    margin-top: 170px;
    color: white;
    text-align: center;
}
	
	
form.navbar-form label {
	
	color: white;
	font-family: Helvetica, sans-serif;
	
	}

.navbar .navbar-brand {
    padding-top: 1px;
}

	
	
form.navbar-form input {
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	background-color: white;
    margin-top: 5px;
   	}
	
	
.btn-sample { 
  color: #0C0E75; 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
}
 

 
.btn-sample .badge { 
  color: #FFFFFF; 
  background-color: #0C0E75; 
}

.principal{
    height: 100%;
}

.footPage {
    background-color: #666666;
    min-height: 50px;
    width: 100%;
    color: white;
    text-align: left;
  }

