


body{
    background-image: url("/images/campus b&w.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #666666;
    background-size: cover;
    min-height: 100%;
}

.panel{
    box-shadow: 15px 15px 10px grey;
}

.navbar-inverse{
	background-color: #666666;
	border-radius: 0px;
    margin-bottom: 100px;
}

.navbar{
    border-color: #666666;
}

.lema{
    margin-bottom: 5%;
    margin-top: 10%;
    color: white;
    text-align: center;
}
	
	
form.navbar-form label {
	
	color: white;
	font-family: "Helvetica Neue", sans-serif;
	
	}

.navbar .navbar-brand {
    padding-top: 1px;
}

	
	
form.navbar-form input{
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	background-color: white;
    margin-top: 5px;
}
	
input.btn:hover{
    background-color: #666666;
    color: white;
}

.principal{
    height: 100%;
}

.msg-incorrect-login{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.btn-login{
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: space-around;
}

.btn-submit{
    margin-bottom: 15px;
}

