


html, body {
    height: 100%;
}

.navbar-inverse{
    background-color: #666666;
    border-radius: 0px;
    margin-bottom: 25px;
}


.navbar .navbar-brand {
    padding-top: 1px;
}

div.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    margin-right: 5px;
}

form.navbar-form input {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: white;
    margin-top: 5px;
}

.principal{
    height: 100%;
}

.footPage {
    background-color: #666666;
    min-height: 50px;
    width: 100%;
    color: white;
    text-align: left;
}

.dropdown-menu{
    background-color: white;

}

.btn-group, .btn{
    background-color: #666666;
    color: white;
    border-color: transparent;
}

.btn-group, .btn:hover{
    background-color: #666666;
    color: #adadad;
    border-color: transparent;
}

.btn-group, .btn:active{
    background-color: #666666;
    color: #adadad;
    border-color: transparent;
}

.dropdown-toggle{
    background-color: #666666;
    color: #adadad;
    border-color: transparent;

}

.active-home, .activeHome2:hover{
    background-color: black;
}


.active-discussions, .activeDiscussions2:hover{
    background-color: black;
}
.active-subject, .activeSubject2:hover{
    background-color: black;
}
.active-work, .activeWork2:hover{
    background-color: black;
}