.ProfessorBoxContent{
    margin-bottom: 25px;
    padding: 1rem 1rem 1rem 1rem;
    max-height: 300px;
    overflow: scroll;
    border-left: solid 2px  #c7254e;
    height: auto;
}


.btn-professor{
    border-radius: 3px;
}
