
.subject-name{
    color: #699064;
}

.panel-heading{
    background-color: #699064!important;
    border-radius: 2px !important;
    border: transparent !important;
}

.panel{
    border-color: transparent !important;
}

.btn-subject-example{
    background-color: white;
    color: #699064;
    border-color: #699064;
    border-radius: 2px !important;
}

.btn-subject-example:hover{
    background-color: #699064;
    color: white ;
    border-color: #699064;
}

.btn-comment{
    margin-right: 5px;
}

.nav-tabs{
    background-color: transparent !important;
    border-color: white !important;

}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    border: none;
    color: #699064!important;
    background-color: white !important;
}

.nav-tabs > li > a{
    color: white !important;
}


.trashButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.trashButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: red;
}


.downloadButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.downloadButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: green;
}

.filePreview{
    border: solid 2px;
    border-color: #666666;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

img.fileImg{
    max-height: 200px;
    max-width: 100px;

}

