.trashButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.trashButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: red;
}


.downloadButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.downloadButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: green;
}

.filePreview{
    border: solid 2px;
    border-color: #666666;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

img.fileImg{
    max-height: 200px;
    max-width: 100px;

}

.btn-professor{
    background-color: red;
    color: red;

}