

.clickable{
    cursor: pointer;
}

.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.standardButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.standardButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
}

.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity:1;
}

.checkbox_wrapper{
    position: relative;
    height: 25px;
    width: 25px;
}

input[type="checkbox"] {
    opacity:0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

input[type="checkbox"] + label{
    background:url('/images/likeOff.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    position: absolute;

}

input[type="checkbox"]:checked + label{
    background:url('../images/likeOn.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
}

