

.clickable{
    cursor: pointer;
}

.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.standardButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
}


.standardButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: black;
}

