body{
    background: whitesmoke;
}

.subject-name{
    color: #699064;
}

.panel-heading{
    background-color: #699064!important;
    border-radius: 2px !important;
    border: transparent !important;
}

.panel{
    border-color: transparent !important;
}

.btn-subject-example{
    background-color: white;
    color: #699064;
    border-color: #699064;
    border-radius: 2px !important;
}

.btn-subject-example:hover{
    background-color: #699064;
    color: white ;
    border-color: #699064;
}

.btn-comment{
    margin-right: 5px;
}

.nav-tabs{
    background-color: transparent !important;
    border-color: white !important;

}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    border: none;
    color: #699064!important;
    background-color: white !important;
}

.nav-tabs > li > a{
    color: white !important;
}


.trashButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.trashButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: red;
}


.downloadButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}


.downloadButton:hover{
    background-color: transparent;
    border-color: transparent;
    color: green;
}

.filePreview{
    border: solid 2px;
    border-color: #666666;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

img.fileImg{
    max-height: 200px;
    max-width: 100px;

}

.modal-content{
    max-width: 400px;
    max-height: 500px;
    overflow-y: auto;
}

.btn-info{
    background-color: #699064;
    border-color: transparent;
    border-radius: 3px !important;
}

.btn-info:hover{
    background-color: #486345;
    border-color: transparent;
}

.btn-file{
    background-color: white;
    border-color: orangered;
    color: orangered;
    border-radius: 3px !important;
}

.btn-file:hover{
    background-color: orangered;
    border-color: orangered;
    color: white;
}


.btn-moderator{
    background-color: #699064 !important;
    border-color: white !important;
    color: white !important;
    border-radius: 2px;
}

.btn-moderator:hover{
    background-color:  #486345 !important;
    border-color: white !important;
    color: white !important;
}

.btn-delete{
    background-color: firebrick !important;
    border-color: white !important;
    color: white !important;
    border-radius: 2px !important;
}
.btn-delete:hover{
    background-color: #761c19 !important;
    border-color: white !important;
    color: white !important;
    border-radius: 2px !important;
}

.btn-blocked{
    background-color: #9d9d9d;
    color: #000000 !important;
    border-color: white;
    border-radius: 2px !important;
}

strong{
    color: white;
}

.text-muted{
    color: whitesmoke;
}