.clickable{
    cursor: pointer;
}

.panel-heading div span{
    margin-left:5px;
}

.standardButton{
    background-color: transparent;
    border-color: transparent;
    color: #666666;
    font-size: medium;
}

.standardButton:hover{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: red;
}

.btnPlus{
    color: white;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    margin-top: -45px;
}

.btnPlus:hover{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #9d9d9d;
}

.checkbox_wrapper{
    position: relative;
    height: 25px;
    width: 25px;
}

input[type="checkbox"] {
    opacity:0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

input[type="checkbox"] + label{
    background:url('/images/heartoff.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    position: absolute;
    cursor: pointer;
}

input[type="checkbox"]:checked + label{
    background:url('../images/likeOn.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    cursor: pointer;
}

.panel-heading{
    background-color: whitesmoke !important;
    border: solid 1px;
    border-color: grey;
}

.panel{
    border-color: white !important;
    border-radius: inherit !important;
    background-color: white !important;
}

.subject-title{
    color: white;
    margin-top: 5px;
}

.panel-heading{
    border-color: #2980B9 !important;
    background-color: #2980B9 !important;
}

.subject-name{
    color: black !important;
}

.panel-body{
    background-color: white;
}

body{
    background-color: whitesmoke;

}

.modal-content{
    max-width: 400px;
}

.panel-body{
    display: inline-block;
    width: 100%;
    max-height: 500px !important;
    height: 500px !important;
    overflow-y: auto !important;
}