

body{
    background-color: whitesmoke;
}


.bs-calltoaction{
    position: relative;
    width:auto;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}



/*.bs-calltoaction > .row > [class^="col-"],*/
/*.bs-calltoaction > .row > [class*=" col-"]{*/
    /*float:none;*/
    /*display:table-cell;*/
    /*vertical-align:middle;*/
/*}*/

/*.cta-contents{*/
    /*padding-top: 5px;*/
    /*padding-bottom: 10px;*/
/*}*/

/*.cta-title{*/
    /*margin: 0 auto 10px;*/
    /*padding: 0;*/
/*}*/

/*.cta-desc{*/
    /*padding: 0;*/
/*}*/

/*.cta-desc p:last-child{*/
    /*margin-bottom: 0;*/
/*}*/

/*.cta-button{*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
/*}*/

/*@media (max-width: 991px){*/
    /*.bs-calltoaction > .row{*/
        /*display:block;*/
        /*width: auto;*/
    /*}*/

    /*.bs-calltoaction > .row > [class^="col-"],*/
    /*.bs-calltoaction > .row > [class*=" col-"]{*/
        /*float:none;*/
        /*display:block;*/
        /*vertical-align:middle;*/
        /*position: relative;*/
    /*}*/

    /*.cta-contents{*/
        /*text-align: center;*/
    /*}*/
/*}*/




.bs-calltoaction.bs-calltoaction-work{
    color: black;
    background-color: white;
    border-color: #E74C3C;
    padding-right: 25px;
    padding-left: 25px;
}





/*.bs-calltoaction.bs-calltoaction-subjects .cta-button .btn,*/
/*.bs-calltoaction.bs-calltoaction-discussions .cta-button .btn,*/
/*.bs-calltoaction.bs-calltoaction-work .cta-button .btn,*/
/*.bs-calltoaction.bs-calltoaction-statistics .cta-button .btn{*/
    /*border-color:#fff;*/
/*}*/

.btnAddWork{
    margin-bottom: 15px;
    background-color: #E74C3C !important;
    color: white;
    border-color: transparent;
    align-content: center;
    margin-left: 4%;
    margin-right: 4%;
}

.btnAddWork:hover{
    background-color: white;
    color: #E74C3C !important;
    border-color: #E74C3C;
}

.nav-pills > li > a {
    border: none;
    color: #E74C3C; !important;

}
.nav-pills > li.active > a, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
    border: none;
    color: white !important;
    background-color: #E74C3C; !important;
}



.checkbox_wrapper{
    position: relative;
    height: 25px;
    width:  25px;

}


input[type="checkbox"] {
    opacity:0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

input[type="checkbox"] + label{
    background:url('/images/likeOff.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    position: absolute;
    cursor: pointer;
}

input[type="checkbox"]:checked + label{
    background:url('../images/likeOn.svg') no-repeat;
    height: 100%;
    width: 100%;
    display:inline-block;
    cursor: pointer;
}

.btnremovework{
    border-color: transparent !important;
}

.favorite{
    padding-right: 10px;
}



.btnremovework:hover{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
    color: red !important;
}

.btnremovework:active:hover{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
    color: red !important;
}

.btnremovework:focus{
    border-color: transparent !important;
    background-color: transparent; !important;
    box-shadow: none !important;
}

