

body{
    background-color: whitesmoke;
}


.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 10px 15px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}



.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 5px;
    padding-bottom: 10px;
}

.cta-title{
    margin: 0 auto 10px;
    padding: 0;
}

.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}




.bs-calltoaction.bs-calltoaction-work{
    color: black;
    background-color: white;
    border-color: #BC8BE8;
}





.bs-calltoaction.bs-calltoaction-subjects .cta-button .btn,
.bs-calltoaction.bs-calltoaction-discussions .cta-button .btn,
.bs-calltoaction.bs-calltoaction-work .cta-button .btn,
.bs-calltoaction.bs-calltoaction-statistics .cta-button .btn{
    border-color:#fff;
}