<?xml version="1.0" encoding="utf-8"?>
<!--<?xml version="1.0" encoding="ISO-8859-1"?>-->


<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <!-- ~~~~~~~~~~~~~~~~~~~ Security Filter Configuration ~~~~~~~~~~~~~~~~~~~~~~ -->

   <display-name>SecurityFilter Example Application</display-name>

   <filter>
      <filter-name>Security Filter</filter-name>
      <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
      <init-param>
         <param-name>config</param-name>
         <param-value>/WEB-INF/securityfilter-config.xml</param-value>
          <!--<description>Configuration file location (this is the default value)</description>-->
       </init-param>
       <init-param>
          <param-name>validate</param-name>
          <param-value>true</param-value>
          <!--<description>Validate config file if set to true</description>-->
      </init-param>
<!--
      <init-param>
         <param-name>loginSubmitPattern</param-name>
         <param-value>/logMeIn</param-value>
         <description>
            As an example a login form can define "logMeIn" ascommandtion in place of the standard
            "j_security_check" which is a special flag user by app servers for container managed security.
         </description>
      </init-param>
-->
   </filter>

   <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->
   <filter-mapping>
      <filter-name>Security Filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>


    <!-- ~~~~~~~~~~~~~ Servlet Configuration and Mapping ~~~~~~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>UserSubjectManagerServlet</servlet-name>
        <servlet-class>org.australteca.servlet.user.UserSubjectManagerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserSubjectManagerServlet</servlet-name>
        <url-pattern>/manageUserSubjects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.australteca.servlet.upload.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~~~~~~~~~~~~~ User Servlets ~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~ User Registration ~~~~~~~~~~~~ -->

   <servlet>
      <servlet-name>UserRegisterServlet</servlet-name>
      <!--<description>for registration only</description>-->
      <servlet-class>org.australteca.servlet.user.UserRegisterServlet</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>UserRegisterServlet</servlet-name>
      <url-pattern>/register</url-pattern>
   </servlet-mapping>

    <!-- ~~~~~~~~~ User Delete ~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <!--<description>for registration only</description>-->
        <servlet-class>org.australteca.servlet.user.UserDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/userDelete</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~ User Modification ~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>UserModificationServlet</servlet-name>
        <servlet-class>org.australteca.servlet.user.UserModificationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserModificationServlet</servlet-name>
        <url-pattern>/userModification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPostServlet</servlet-name>
        <servlet-class>org.australteca.servlet.user.UserPostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserPostServlet</servlet-name>
        <url-pattern>/userPost</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~~~~~~~~~~~~~ Subject Servlets ~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~ Subject Delete ~~~~~~~~~~~~ -->
    <servlet>
        <servlet-name>SubjectDeleteServlet</servlet-name>
        <!--<description>for registration only</description>-->
        <servlet-class>org.australteca.servlet.subject.SubjectDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubjectDeleteServlet</servlet-name>
        <url-pattern>/subjectDelete</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~ Subject Add ~~~~~~~~~~~~ -->

    <servlet>
      <servlet-name>AddSubjectServlet</servlet-name>
       <!--<description> adds subject to database</description>-->
       <servlet-class>org.australteca.servlet.subject.SubjectAddServlet</servlet-class>
   </servlet>

    <servlet-mapping>
        <servlet-name>AddSubjectServlet</servlet-name>
        <url-pattern>/addSubject</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~ Subject List ~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>ListSubjectServlet</servlet-name>
        <!--<description> gives a List of subject according to certain parameters</description>-->
        <servlet-class>org.australteca.servlet.subject.SubjectListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListSubjectServlet</servlet-name>
        <url-pattern>/listSubjects</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~ Command Pattern Subject ~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>org.australteca.servlet.subject.SubjectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>

    <!-- ~~~~~~~~~ Subject View ~~~~~~~~~~~~ -->

    <servlet>
        <servlet-name>PostSubjectServlet</servlet-name>
        <servlet-class>org.australteca.servlet.subject.SubjectPostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostSubjectServlet</servlet-name>
        <url-pattern>/postSubject</url-pattern>
    </servlet-mapping>


    <!-- ~~~~~~~~~~~~~~~~ Session Configuration ~~~~~~~~~~~~~~~~~~~~ -->

   <!-- make the session time-out after one minute -->
   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>


    <!-- ~~~~~~~~~~~~~~~ Welcome File List ~~~~~~~~~~~~~~~~~~~~~~-->

   <welcome-file-list>
      <welcome-file>loginForm.jsp</welcome-file>
   </welcome-file-list>

    <!-- ~~~~~~~~~~~~~~~ Error Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

   <!-- SecurityFilter works with custom error pages -->
   <error-page>
      <error-code>403</error-code>
      <location>/error/403.jsp</location>
   </error-page>

</web-app>
