<?xml version="1.0" encoding="utf-8"?>



<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <!-- ~~~~~~~~~~~~~~~~~~~ Security Filter Configuration ~~~~~~~~~~~~~~~~~~~~~~ -->

    <!--<filter>-->
        <!--<filter-name>NoCacheFilter</filter-name>-->
        <!--<filter-class>org.australteca.filter.NoCacheFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>NoCacheFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <filter>
      <filter-name>Security Filter</filter-name>
      <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
      <init-param>
         <param-name>config</param-name>
         <param-value>/WEB-INF/securityfilter-config.xml</param-value>
          <!--<description>Configuration file location (this is the default value)</description>-->
       </init-param>
       <init-param>
          <param-name>validate</param-name>
          <param-value>true</param-value>
          <!--<description>Validate config file if set to true</description>-->
      </init-param>
<!--
      <init-param>
         <param-name>loginSubmitPattern</param-name>
         <param-value>/logMeIn</param-value>
         <description>
            As an example a login form can define "logMeIn" ascommandtion in place of the standard
            "j_security_check" which is a special flag user by app servers for container managed security.
         </description>
      </init-param>
-->
   </filter>

    <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->




    <filter-mapping>
    <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- ~~~~~~~~~~~~~ SERVLET CONFIGURATION AND MAPPING ~~~~~~~~~~~~~~~~~ -->


    <!-- ~~~~~~~~~~~~~~~~~~~~~ User Servlets ~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!--  User Registration -->
        <servlet>
            <servlet-name>UserRegisterServlet</servlet-name>
            <!--<description>for registration only</description>-->
            <servlet-class>org.australteca.servlet.user.UserRegisterServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserRegisterServlet</servlet-name>
            <url-pattern>/register</url-pattern>
        </servlet-mapping>

        <!-- User Delete -->
        <servlet>
            <servlet-name>UserDeleteServlet</servlet-name>
            <!--<description>for registration only</description>-->
            <servlet-class>org.australteca.servlet.user.UserDeleteServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserDeleteServlet</servlet-name>
            <url-pattern>/userDelete</url-pattern>
        </servlet-mapping>

        <!-- User Modification -->
        <servlet>
            <servlet-name>UserModificationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserModificationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserModificationServlet</servlet-name>
            <url-pattern>/userModification</url-pattern>
        </servlet-mapping>

        <!-- User Post -->
        <servlet>
            <servlet-name>UserPostServlet</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserPostServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserPostServlet</servlet-name>
            <url-pattern>/userPost</url-pattern>
        </servlet-mapping>

        <!-- User subject manager -->
        <servlet>
            <servlet-name>UserSubjectManagerAjax</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserSubjectManagerAjax</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserSubjectManagerAjax</servlet-name>
            <url-pattern>/userSubjectManagerAjax</url-pattern>
        </servlet-mapping>

        <!-- User post profile photo -->
        <servlet>
            <servlet-name>UserPostPhotoServlet</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserPostPhotoServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserPostPhotoServlet</servlet-name>
            <url-pattern>/userPostPhoto</url-pattern>
        </servlet-mapping>

        <!-- User upload profile photo -->
        <servlet>
            <servlet-name>UploadPhotoServlet</servlet-name>
            <servlet-class>org.australteca.servlet.filetransfer.PhotoUploadServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UploadPhotoServlet</servlet-name>
            <url-pattern>/uploadPhoto</url-pattern>
        </servlet-mapping>

        <!-- User get subject rating -->
        <servlet>
            <servlet-name>UserGetSubjectRating</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserGetSubjectRatingServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserGetSubjectRating</servlet-name>
            <url-pattern>/userGetSubjectRating</url-pattern>
        </servlet-mapping>

        <!-- User list POST -->
        <servlet>
            <servlet-name>UserListPostServlet</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserListPostServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserListPostServlet</servlet-name>
            <url-pattern>/userListPost</url-pattern>
        </servlet-mapping>

        <!-- User subject manager -->
        <servlet>
            <servlet-name>UserSubjectManagerServlet</servlet-name>
            <servlet-class>org.australteca.servlet.user.UserSubjectManagerServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UserSubjectManagerServlet</servlet-name>
            <url-pattern>/manageUserSubjects</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~~~~~~~~~~~~~ Subject Servlets ~~~~~~~~~~~~~~~~~~~~~~~ -->

        <!-- Add Subject -->
        <servlet>
            <servlet-name>AddSubjectServlet</servlet-name>
            <!--<description> adds subject to database</description>-->
            <servlet-class>org.australteca.servlet.subject.SubjectAddServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AddSubjectServlet</servlet-name>
            <url-pattern>/addSubject</url-pattern>
        </servlet-mapping>

        <!-- Delete Subject -->
        <servlet>
            <servlet-name>SubjectDeleteServlet</servlet-name>
            <!--<description>for registration only</description>-->
            <servlet-class>org.australteca.servlet.subject.SubjectDeleteServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>SubjectDeleteServlet</servlet-name>
            <url-pattern>/subjectDelete</url-pattern>
        </servlet-mapping>

        <!-- Subject List -->
        <servlet>
            <servlet-name>ListSubjectServlet</servlet-name>
            <!--<description> gives a List of subject according to certain parameters</description>-->
            <servlet-class>org.australteca.servlet.subject.SubjectListServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>ListSubjectServlet</servlet-name>
            <url-pattern>/listSubjects</url-pattern>
        </servlet-mapping>

        <!-- Subject View -->
        <servlet>
            <servlet-name>PostSubjectServlet</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectPostServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>PostSubjectServlet</servlet-name>
            <url-pattern>/postSubject</url-pattern>
        </servlet-mapping>

        <!-- Subject change raiting -->
        <servlet>
            <servlet-name>SubjectChangeRatingAjax</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectChangeRatingAjax</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>SubjectChangeRatingAjax</servlet-name>
            <url-pattern>/subjectChangeRatingAjax</url-pattern>
        </servlet-mapping>

    <!-- ~~~~~~~~~ Notes servlet ~~~~~~~~~~~~ -->

        <!-- Delete note -->
        <servlet>
            <servlet-name>NoteDeleteServlet</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectNoteDelete</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>NoteDeleteServlet</servlet-name>
            <url-pattern>/noteDelete</url-pattern>
        </servlet-mapping>

        <!-- Download note -->
        <servlet>
            <servlet-name>NoteDownloadServlet</servlet-name>
            <servlet-class>org.australteca.servlet.filetransfer.DownloadServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>NoteDownloadServlet</servlet-name>
            <url-pattern>/noteDownload</url-pattern>
        </servlet-mapping>

        <!-- Upload file -->
        <servlet>
            <servlet-name>UploadServlet</servlet-name>
            <servlet-class>org.australteca.servlet.filetransfer.NoteUploadServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>UploadServlet</servlet-name>
            <url-pattern>/upload</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~Professor servlet ~~~~~~~~~~~~ -->

        <!-- Add professor -->
        <servlet>
            <servlet-name>AddProfessorServlet</servlet-name>
            <servlet-class>org.australteca.servlet.professor.ProfessorAddServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AddProfessorServlet</servlet-name>
            <url-pattern>/addProfessor</url-pattern>
        </servlet-mapping>

        <!-- Delete professor -->
        <servlet>
            <servlet-name>DeleteProfessorServlet</servlet-name>
            <servlet-class>org.australteca.servlet.professor.ProfessorDeleteServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>DeleteProfessorServlet</servlet-name>
            <url-pattern>/deleteProfessor</url-pattern>
        </servlet-mapping>

        <!-- Add professor to subject -->
        <servlet>
            <servlet-name>AddProfessorToSubjectServlet</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectAddProfessorServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AddProfessorToSubjectServlet</servlet-name>
            <url-pattern>/addProfessorToSubject</url-pattern>
        </servlet-mapping>

        <!-- Remove professor to subject -->
        <servlet>
            <servlet-name>RemoveProfessorFromSubjectServlet</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectRemoveProfessorServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>RemoveProfessorFromSubjectServlet</servlet-name>
            <url-pattern>/removeProfessorFromSubject</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~~ Commentary ~~~~~~~~~~~~~~~~ -->

        <!-- add commentary to subject -->
        <servlet>
            <servlet-name>SubjectAddCommentaryServlet</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectAddCommentaryServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>SubjectAddCommentaryServlet</servlet-name>
            <url-pattern>/subjectAddCommentary</url-pattern>
        </servlet-mapping>

        <!-- Delete commentary to subject -->
        <servlet>
            <servlet-name>DeleteCommentary</servlet-name>
            <servlet-class>org.australteca.servlet.subject.SubjectDeleteCommentServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>DeleteCommentary</servlet-name>
            <url-pattern>/deleteCommentary</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~~ Moderator ~~~~~~~~~~~~~~~~ -->

        <!-- Post postulation moderator-->
        <servlet>
            <servlet-name>PostPostulationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.moderator.PostPostulantsServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>PostPostulationServlet</servlet-name>
            <url-pattern>/postModerators</url-pattern>
        </servlet-mapping>

        <!-- Deny Postulation moderator -->
        <servlet>
            <servlet-name>DenyPostulationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.moderator.DenyPostulationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>DenyPostulationServlet</servlet-name>
            <url-pattern>/denyPostulation</url-pattern>
        </servlet-mapping>

        <!-- Accept postulation moderator -->
        <servlet>
            <servlet-name>AcceptPostulationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.moderator.AcceptPostulationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AcceptPostulationServlet</servlet-name>
            <url-pattern>/acceptPostulation</url-pattern>
        </servlet-mapping>

        <!-- Add postulant moderator -->
        <servlet>
            <servlet-name>AddPostulantServlet</servlet-name>
            <servlet-class>org.australteca.servlet.moderator.AddPostulantServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AddPostulantServlet</servlet-name>
            <url-pattern>/addPostulant</url-pattern>
        </servlet-mapping>

        <!-- Delete postulant moderator -->
        <servlet>
            <servlet-name>DeletePostulantServlet</servlet-name>
            <servlet-class>org.australteca.servlet.moderator.DeletePostulantServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>DeletePostulantServlet</servlet-name>
            <url-pattern>/deletePostulant</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~~~~~ Publications ~~~~~~~~~~~~~~~~~ -->

        <!-- Email publication -->
        <servlet>
            <servlet-name>PublicationPetitionSender</servlet-name>
            <servlet-class>org.australteca.servlet.email.PublicationPetitionServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>PublicationPetitionSender</servlet-name>
            <url-pattern>/publicationPetition</url-pattern>
        </servlet-mapping>

        <!-- Add publications -->
        <servlet>
            <servlet-name>AddPublicationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.publication.AddPublicationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>AddPublicationServlet</servlet-name>
            <url-pattern>/addPublication</url-pattern>
        </servlet-mapping>

        <!-- Remove publications -->
        <servlet>
            <servlet-name>RemovePublicationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.publication.RemovePublicationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>RemovePublicationServlet</servlet-name>
            <url-pattern>/removePublication</url-pattern>
        </servlet-mapping>

        <!-- List of publications -->
        <servlet>
            <servlet-name>ListPublicationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.publication.ListPublicationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>ListPublicationServlet</servlet-name>
            <url-pattern>/listPublications</url-pattern>
        </servlet-mapping>

        <!-- Favorite publications -->
        <servlet>
            <servlet-name>FavoritePublicationServlet</servlet-name>
            <servlet-class>org.australteca.servlet.publication.FavoritePublicationServlet</servlet-class>
        </servlet>

        <servlet-mapping>
            <servlet-name>FavoritePublicationServlet</servlet-name>
            <url-pattern>/favoritePublication</url-pattern>
        </servlet-mapping>


    <!-- ~~~~~~~~~~~~~~~~ Session Configuration ~~~~~~~~~~~~~~~~~~~~ -->

       <!-- make the session time-out after one minute -->
       <session-config>
          <session-timeout>30</session-timeout>
       </session-config>


    <!-- ~~~~~~~~~~~~~~~ Welcome File List ~~~~~~~~~~~~~~~~~~~~~~-->

       <welcome-file-list>
           <welcome-file>loginForm.jsp</welcome-file>
       </welcome-file-list>

    <!-- ~~~~~~~~~~~~~~~ Error Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

       <error-page>
          <error-code>403</error-code>
          <location>/error/403.jsp</location>
       </error-page>

</web-app>
